
{% extends 'base.html.twig' %}

{% block title %}randomrecipe index{% endblock %}

{% block body %}
    <h1>Random Recipe :</h1>
    <h2>Le Plat du jour est :</h2>
        <h3>{{ randomRecipe.title }}</h3>


<div class="container">
    <div class="row">
        {% for r in recipes %}
            <div class="col">
                <div class="card mt-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ r.title }}</h5>
                        <a href="{{ path('recipe_edit', { id: r.id }) }}" class="btn btn-primary">Modifer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}